@import "./ui.css";

html {
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;
	font-size: xx-large;
}
body {
	width: fit-content;
	height: fit-content;
	position: relative;
}
h1, p {
	margin-bottom: 0;
}
h1:first-of-type {
	color: var(--theme-light-blue);
	padding: var(--border-radius);
	border-radius: var(--border-radius);
	background-color: var(--theme-dark-blue);
	--box-shadow: calc(var(--border-radius) / 4);
	--box-shadow-color: var(--theme-dark-blue);
	box-shadow: 0 0 var(--box-shadow) 0 var(--box-shadow-color);
	margin: var(--box-shadow);
}
@media (prefers-color-scheme: dark) {
	h1:first-of-type {
		color: var(--theme-dark-blue);
		background-color: var(--theme-light-blue);
		--box-shadow-color: var(--theme-light-blue);
	}
}

#login {
	width: fit-content;
	text-align: right;
	display: inline-block;
	position: relative;
}
.button-wrapper {
	width: 100%;
	text-align: center;
}
#login section {
	margin: calc(var(--border-radius) * 2);
	border-radius: var(--border-radius);
	display: block;
	position: relative;
}
#login input:not(#submit) {
	border-radius: 0;
	padding: 0;
	border: transparent;
	--border-height: calc(var(--border-radius) / 10);
	border-bottom: var(--border-height) solid var(--easyjs-inverse-subText);
	outline: transparent;
	transition: border-bottom 1s;
}
#login input:not(#submit):focus {
	border-bottom: var(--border-height) solid var(--easyjs-text);
}
#pass-toggle {
	border: transparent !important;
	background-color: var(--easyjs-cardBg);
	transition: box-shadow 1s, background-color 0.5s !important;
	font-size: xx-small;
	border-radius: var(--border-radius) !important;
	vertical-align: top;
	width: var(--size);
	height: var(--size);
	appearance: none;
	box-shadow: 0 0 calc(var(--border-radius) / 2) 0 var(--easyjs-text) inset;
}
#pass-toggle:checked {
	background-color: var(--theme-orange);
}
#pass-toggle:hover, #pass-toggle:focus {
	box-shadow: 0 0 calc(var(--border-radius) * 2) 0 var(--easyjs-text) inset;
}
#submit {
	border: none;
	box-shadow: 0 0 calc(var(--border-radius) / 4) 0 var(--easyjs-text);
	transition: box-shadow 1s;
}
#submit:hover, #submit:focus {
	box-shadow: 0 0 calc(var(--border-radius) * 2) 0 var(--easyjs-text);
}

footer {
	font-size: smaller;
}
footer a {
	color: var(--easyjs-link);
	text-decoration-color: transparent;
	transition: text-decoration-color 1s;
}
footer a:hover, footer a:active, footer a:focus {
	text-decoration-color: var(--easyjs-link);
}

.easyjs-popup {
	color: var(--easyjs-dark-text) !important;
	background-color: var(--easyjs-dark-bg) !important;
}
#error {
	color: var(--theme-orange) !important;
}