@import "https://gavinmorrow.com/google-fonts/Major Mono Display|Bungee Inline|Jura|Comfortaa/swap";

@font-face {
	font-family: "title";
	src: url("/fonts/title.ttf") format("truetype");
	unicode-range: U+0020-U+007E;
	font-display: swap;
	font-variant: unicase;
}

* {
	outline-color: var(--theme-4);
}
:root {
	--theme-black: #242424;
	--theme-dark-blue: #063d6e;
	--theme-light-blue: #12c0ff;
	--theme-orange: #FF4507;
	--theme-1: #242424;
	--theme-2: #063d6e;
	--theme-3: #12c0ff;
	--theme-4: #FF4507;

	--font-family-b1: "Jura", "Comfortaa", sans-serif;
	--font-family-b2: "Comfortaa", "Jura", sans-serif;
	--font-family-h1: "Major Mono Display", monospace;
	--font-family-h1a: title, "Bungee Inline", "Major Mono Display", var(--font-family-b1);
	--font-family-h1b: "Bungee Inline", "Major Mono Display", var(--font-family-b2);
	--font-family-h1c: "Bungee Inline", "Major Mono Display", var(--font-family-b1);
	font-family: var(--font-family-b1);

	--border-radius: 0.5em;

	color: var(--easyjs-text);
	background-color: var(--easyjs-bg);
}
html, body {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	margin: 0;
	padding: 0;
	text-align: center;

	width: 100vw;
	overflow-x: hidden;
}
button, input, select {
	font-family: var(--font-family-b1);
	font-size: inherit;
	padding: calc(var(--border-radius) * 0.5);
	border-radius: var(--border-radius);
	color: inherit;
	background-color: inherit;
}
button, input[type="submit" i], select {
	background-color: var(--easyjs-buttonBg);
	border: none;
	transition: box-shadow 1s;
	box-shadow: 0 0 calc(var(--border-radius) / 4) 0 var(--easyjs-subText);
}
:is(button, input[type="submit" i], select):hover, :is(button, input[type="submit" i], select):focus {
	box-shadow: 0 0 var(--border-radius) 0 var(--easyjs-subText);
}
input {
	--init-border-color: var(--easyjs-text);
	--init-focus-border-color: var(--easyjs-text);
	border: 1px solid var(--init-border-color);
	transition: border-color 1s;
	padding: var(--border-radius);
	outline: none;
}
input:invalid {
	border-color: var(--theme-orange);
}
input:focus {
	border-color: var(--init-focus-border-color);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

a {
	color: var(--easyjs-link);
	text-decoration-color: transparent;
	transition: text-decoration-color 1s;
}
a:hover, a:focus {
	text-decoration-color: var(--easyjs-link);
}

.rounded {
	padding: calc(var(--border-radius) * 0.5);
	border-radius: var(--border-radius);
}

.easyjs-popup {
	color: var(--easyjs-dark-text) !important;
	background-color: var(--easyjs-dark-bg) !important;
}
.easyjs-popup[id^='error'] {
	color: var(--theme-orange) !important;
}

#title {
	color: var(--easyjs-inverse-text);
	padding: var(--border-radius);
	border-radius: var(--border-radius);
	background-color: var(--easyjs-inverse-bg);
	--box-shadow: calc(var(--border-radius) / 4);
	--box-shadow-color: var(--easyjs-inverse-bg);
	box-shadow: 0 0 var(--box-shadow) 0 var(--box-shadow-color);
	margin: max(var(--box-shadow), var(--border-radius)) auto var(--box-shadow) auto;
	width: fit-content;
	font: xxx-large var(--font-family-h1a);
}

.warning {
	position: fixed;
	top: var(--border-radius);
	right: -22em;
	padding: var(--border-radius);
	border-radius: var(--border-radius);
	background-color: rgba(var(--easyjs-rgb-inverse-cardBg), 0.9);
	color: var(--easyjs-inverse-text);
	z-index: 1000000000000;
	transition: right 2s;
	max-width: 22em;
	max-height: 3em;
	overflow: scroll;
}