#widgets-wrapper {
	--transition-speed: 1s;
	position: fixed;
	z-index: 100000000;
	top: 0;
	left: 0;
	text-align: left;
	transition: opacity 1s;
	opacity: 1 !important;
}
#widgets {
	position: fixed;
	top: var(--border-radius);
	left: var(--border-radius);
	bottom: var(--border-radius);
	border-radius: var(--border-radius);
	padding: calc(var(--border-radius) * 0.5) var(--border-radius);
	font-size: xx-large;
	box-shadow: 0 0 calc(var(--border-radius) / 4) 0 var(--easyjs-text);
	--width: clamp(25vw, 11em, calc(100vw - var(--border-radius) * 4));
	width: var(--width);
	transition: left var(--transition-speed);
	text-align: center;
	color: var(--easyjs-light-text);
	overflow: scroll;
	background-color: rgba(var(--easyjs-rgb-light-contrastNavBg), 0.75);
}
#widgets-wrapper[data-hidden] #widgets {
	--pos: calc(var(--width) + var(--border-radius) * 3);
	left: calc(0px - var(--pos));
}
.widget {
	font-size: smaller;
	background-color: var(--easyjs-light-cardBg);
	border-radius: var(--border-radius);
	padding: var(--border-radius);
	box-shadow: 0 0 calc(var(--border-radius) / 2) 0 var(--easyjs-light-text) inset;
	margin: var(--border-radius) 0;
	position: relative;
	overflow-x: scroll;
}
.widget>.widget-title {
	font-size: larger;
	margin: 0;
	border-radius: var(--border-radius);
	padding: var(--border-radius);
	background-color: rgba(var(--easyjs-rgb-light-contrastNavBg), 0.75);
	color: var(--easyjs-dark-text);
}
#hamburger {
	font-size: xxx-large;
	--border-radius: 0.25em;
	position: fixed;
	transition: box-shadow var(--transition-speed), left var(--transition-speed);
	background-color: var(--easyjs-light-buttonBg);
	color: var(--easyjs-light-text);
	top: var(--border-radius);
	left: -2.5em;
	padding-top: calc(var(--border-radius) / 4);
	line-height: 0.75em;
	vertical-align: middle;
}
#widgets-wrapper[data-hidden] #hamburger {
	left: var(--border-radius);
}