@import "/ui.css";

:root {
	text-align: center;
}

#title {
	background-color: var(--easyjs-contrastNavBg);
	color: var(--easyjs-inverse-text);
	font-family: var(--font-family-h1a);
	font-size: xxx-large;
	width: fit-content;
	padding: var(--border-radius);
	border-radius: var(--border-radius);
}