@import "/ui.css";

fieldset {
	border-radius: var(--border-radius);
	border: 1px solid var(--easyjs-text);
	background-color: var(--easyjs-cardBg);
	padding-top: calc(0.5em + 1px);
}
legend {
	position: relative;
	top: calc(0.5em + 1px);
	border-top: 1px solid var(--easyjs-text);
}