@import "/ui.css";
html {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: xx-large;
}
body {
	width: fit-content;
	height: fit-content;
	position: relative;
}
h1, p {
	margin-bottom: 0;
}

#signup {
	width: fit-content;
	text-align: right;
	display: inline-block;
	position: relative;
}
.button-wrapper {
	width: 100%;
	text-align: center;
}
#signup section {
	margin: calc(var(--border-radius) * 2);
	border-radius: var(--border-radius);
	display: block;
	position: relative;
}
#signup input:not(#submit) {
	border-radius: 0;
	padding: 0;
	border: transparent;
	--border-height: calc(var(--border-radius) / 10);
	border-bottom: var(--border-height) solid var(--easyjs-inverse-subText);
	outline: transparent;
	transition: border-bottom 1s;
}
#signup input:not(#submit):focus {
	border-bottom: var(--border-height) solid var(--easyjs-text);
}
#pass-toggle {
	border: none;
	background-color: var(--easyjs-buttonBg);
	transition: box-shadow 1s;
	font-size: xx-large;
	border-radius: var(--border-radius) !important;
	vertical-align: top;
	width: var(--size);
	height: var(--size);
}