@import "/ui.css";

html {
	font-size: x-large;
}

#title {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
}
#main {
	font-size: xxx-large;

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}
#main>div {
	display: inline-block;
	width: fit-content;
	height: fit-content;
}

.easyjs-popup {
	color: var(--easyjs-dark-text) !important;
	background-color: var(--easyjs-dark-bg) !important;
}

#signout {
	background-color: yellow;
	color: var(--theme-orange);
	transition: box-shadow 1s;
	width: 100%;
}
#signout:focus, #signout:hover {
	box-shadow: 0 0 var(--border-radius) 0 var(--easyjs-light-text) inset;
}

#profile::before {
	--title: "Profile";
}
#profile>p {
	border-radius: var(--border-radius);
	padding: var(--border-radius);
	margin: var(--border-radius);
	background-color: var(--easyjs-light-buttonBg);
}
#profile>p>div {
	display: inline-block;
}
#profile>p>div:first-of-type {
	text-transform: capitalize;
}
#profile>p>div:last-of-type {
	text-transform: capitalize;
}

#cs-widget-inner {
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}
#cs-widget-inner>input {
	appearance: none;
	border-radius: var(--border-radius);
	padding: calc(var(--border-radius) * 2);
	background-color: var(--easyjs-light-buttonBg);
	box-shadow: 0 0 var(--border-radius) 0 var(--easyjs-light-text);
	font-size: small;
	transition: background-color 0.25s;
}
#cs-widget-inner>input:hover, #cs-widget-inner>input:focus {
	background-color: rgba(var(--easyjs-rgb-dark-buttonBg), 0.5);
}
#cs-widget-inner>input:checked {
	background-color: var(--easyjs-dark-buttonBg);
}
#cs-widget-inner>* {
	vertical-align: middle;
}