@import "/ui.css";

.easyjs-popup {
	color: var(--easyjs-dark-text) !important;
	background-color: var(--easyjs-dark-bg) !important;
}
#friends {
	padding: var(--border-radius);
	border-radius: var(--border-radius);
	background-color: var(--easyjs-cardBg);
}